#unanswered-content
  %h4.push-10.font-w400
    = page_entries_info @unanswereds, :entry_name => 'Perguntas sem respostas'
  .row
    - @unanswereds.each do |question|
      = render partial: "item_question", locals:{ question: question }
  = paginate @unanswereds, param_name: :unanswered_page, remote: true
