%a.block.block-link-hover2{:href => "#{new_question_path}"}
  .block-content.block-content-full.bg-primary.clearfix
    /%i.si.si-speech.fa-2x.text-white.pull-right
    %i.fa.fa-plus.fa-2x.text-white.pull-right
    %span.h4.text-white-op Faça uma nova
    %span.h4.font-w700.text-white Pergunta
