%h1 Listing questions

= link_to 'New Question', new_question_path

%ul.collection
  - @questions.each do |question|
    %li.collection-item.avatar
      %img.circle{:alt => "", :src => "images/yuna.jpg"}/
      %span.title
        = link_to question.title, question
      %p
        First Line
        %br/
        Second Line
      %a.secondary-content{:href => "#!"}
        %i.material-icons grade
  %li.collection-item.avatar
    %i.material-icons.circle folder
    %span.title Title
    %p
      First Line
      %br/
      Second Line
    %a.secondary-content{:href => "#!"}
      %i.material-icons grade
  %li.collection-item.avatar
    %i.material-icons.circle.green insert_chart
    %span.title Title
    %p
      First Line
      %br/
      Second Line
    %a.secondary-content{:href => "#!"}
      %i.material-icons grade
  %li.collection-item.avatar
    %i.material-icons.circle.red play_arrow
    %span.title Title
    %p
      First Line
      %br/
      Second Line
    %a.secondary-content{:href => "#!"}
      %i.material-icons grade

%i.large.material-icons add
