= render "nav"
.content
  #tabs-container.block
    %ul.nav.nav-tabs.nav-tabs-alt{"data-toggle" => "tabs"}
      %li.active
        %a{:href => "#newest"} Recentes
      %li
        %a{:href => "#unanswered"} Sem respostas
      %li
        %a{:href => "#vote"} Votos
      %li.pull-right
    .block-content.tab-content.bg-white
      #newest.tab-pane.fade.fade-up.active.in
        = render partial: "block_newest"
      #unanswered.tab-pane.fade.fade-up.in
        = render partial: "block_unanswered"
      #vote.tab-pane.fade.fade-up.in
        = render partial: "block_vote"
