.col-lg-12
  = render "nav"
  .block
    .block-header.bg-gray-lighter
      %h3.block-title Welcome to last Questions
    .block-content.block-content-full
      %ul.list.list-activity.push
        - @questions.each do |question|
          = render partial: "questions/question_list", locals:{ question: question }
