%li{:class => self_or_other(message)}
  .avatar
    = image_tag message.user.profile.avatar_url, class: "img-circle" 
  .chatboxmessagecontent
    %p= message.body
    %time{:datetime => message.created_at, :title => message.created_at.strftime("%d %b  %Y at %I:%M%p")}
      = message_interlocutor(message).name
      • #{message.created_at.strftime("%H:%M %p")}