#modal-terms.modal.fade{"aria-hidden" => "true", :role => "dialog", :style => "display: none;", :tabindex => "-1"}
  .modal-dialog.modal-dialog-slideleft
    .modal-content
      .block.block-themed.block-transparent.remove-margin-b
        .block-header.bg-primary-dark
          %ul.block-options
            %li
              %button{"data-dismiss" => "modal", :type => "button"}
                %i.si.si-close
          %h3.block-title Termos & Condições
        .block-content
          %p Ser maior de idade.
          %p Dolor posuere proin blandit accumsan senectus netus nullam curae, ornare laoreet adipiscing luctus mauris adipiscing pretium eget fermentum, tristique lobortis est ut metus lobortis tortor tincidunt himenaeos habitant quis dictumst proin odio sagittis purus mi, nec taciti vestibulum quis in sit varius lorem sit metus mi.
          %p Dolor posuere proin blandit accumsan senectus netus nullam curae, ornare laoreet adipiscing luctus mauris adipiscing pretium eget fermentum, tristique lobortis est ut metus lobortis tortor tincidunt himenaeos habitant quis dictumst proin odio sagittis purus mi, nec taciti vestibulum quis in sit varius lorem sit metus mi.
      .modal-footer
        %button.btn.btn-sm.btn-default{"data-dismiss" => "modal", :type => "button"} Fechar
        %button.btn.btn-sm.btn-primary{"data-dismiss" => "modal", :type => "button"}
          %i.fa.fa-check
          Ok
