/ Hero Content
.bg-primary-dark-op
  %section.content.content-full.content-boxed.overflow-hidden
    / Section Content
    .push-100-t.push-50.text-center
      %h1.h2.text-white.push-10 Title.
      %h2.h5.text-white-op Subtitle.
    / END Section Content
/ END Hero Content
/ Content
.bg-white
  %section.content.content-boxed
    / Section Content
    %h1.h2.push-50-t.push-50.text-center Content #1.
    / END Section Content
/ END Content
/ Content 2
.bg-gray-lighter
  %section.content.content-boxed
    / Section Content
    %h1.h2.push-50-t.push-50.text-center Content #2.
    / END Section Content
/ END Content 2
/ Content 3
.bg-white
  %section.content.content-boxed
    / Section Content
    %h1.h2.push-50-t.push-50.text-center Content #3.
    / END Section Content
/ END Content 3
/ Content 4
.bg-gray-lighter
  %section.content.content-boxed
    / Section Content
    %h1.h2.push-50-t.push-50.text-center Content #4.
    / END Section Content
/ END Content 4
