%a.block.block-link-hover2{:href => "#{new_user_bottle_path(current_user)}"}
  .block-content.block-content-full.bg-primary.clearfix
    %i.fa.fa-plus.fa-2x.text-white.pull-right
    %span.h4.text-white-op Cadastrar nova
    %span.h4.font-w700.text-white Garrafa
