= render "nav"
.block
  .block-header.bg-gray-lighter
    %h3.block-title Minha adega
  .block-content.block-content-full
    %ul.list.list-activity
      - @bottles.each do |bottle|
        = render partial: "bottle_list", locals: { bottle: bottle }
