<footer id="page-footer" class="bg-white">
    <div class="content content-boxed">
        <!-- Footer Navigation -->
        <div class="row push-30-t items-push-2x">
            <div class="col-sm-4">
                <h3 class="h5 font-w600 text-uppercase push-20">Header</h3>
                <ul class="list list-simple-mini font-s13">
                    <li>
                        <a class="font-w600" href="javascript:void(0)">Link #1</a>
                    </li>
                    <li>
                        <a class="font-w600" href="javascript:void(0)">Link #2</a>
                    </li>
                </ul>
            </div>
            <div class="col-sm-4">
                <h3 class="h5 font-w600 text-uppercase push-20">Header</h3>
                <ul class="list list-simple-mini font-s13">
                    <li>
                        <a class="font-w600" href="javascript:void(0)">Link #1</a>
                    </li>
                    <li>
                        <a class="font-w600" href="javascript:void(0)">Link #2</a>
                    </li>
                </ul>
            </div>
            <div class="col-sm-4">
                <h3 class="h5 font-w600 text-uppercase push-20">Header</h3>
                <div class="font-s13 push">
                    <strong>Company, Inc.</strong><br>
                    980 Folsom Ave, Suite 1230<br>
                    San Francisco, CA 94107<br>
                    <abbr title="Phone">P:</abbr> (123) 456-7890
                </div>
                <div class="font-s13">
                    <i class="si si-envelope-open"></i> company@example.com
                </div>
            </div>
        </div>
        <!-- END Footer Navigation -->

        <!-- Copyright Info -->
        <div class="font-s12 push-20 clearfix">
            <hr class="remove-margin-t">
            <div class="pull-right">
                Crafted with <i class="fa fa-heart text-city"></i> by <a class="font-w600" href="http://goo.gl/vNS3I" target="_blank">pixelcave</a>
            </div>
            <div class="pull-left">
                <a class="font-w600" href="javascript:void(0)" target="_blank">OneUI</a> &copy; <span class="js-year-copy"></span>
            </div>
        </div>
        <!-- END Copyright Info -->
    </div>
</footer>