%footer#page-footer.bg-white
  .content.content-boxed
    / Footer Navigation
    .row.push-30-t.items-push-2x
      .col-sm-4
        %h3.h5.font-w600.text-uppercase.push-20 Header
        %ul.list.list-simple-mini.font-s13
          %li
            %a.font-w600{:href => "javascript:void(0)"} Link #1
          %li
            %a.font-w600{:href => "javascript:void(0)"} Link #2
      .col-sm-4
        %h3.h5.font-w600.text-uppercase.push-20 Header
        %ul.list.list-simple-mini.font-s13
          %li
            %a.font-w600{:href => "javascript:void(0)"} Link #1
          %li
            %a.font-w600{:href => "javascript:void(0)"} Link #2
      .col-sm-4
        %h3.h5.font-w600.text-uppercase.push-20 Header
        .font-s13.push
          %strong Company, Inc.
          %br/
          980 Folsom Ave, Suite 1230
          %br/
          San Francisco, CA 94107
          %br/
          %abbr{:title => "Phone"} P:
          (123) 456-7890
        .font-s13
          %i.si.si-envelope-open
          company@example.com
    / END Footer Navigation
    / Copyright Info
    .font-s12.push-20.clearfix
      %hr.remove-margin-t/
      .pull-right
        Crafted with
        %i.fa.fa-heart.text-city
        by
        %a.font-w600{:href => "http://goo.gl/vNS3I", :target => "_blank"} pixelcave
      .pull-left
        %a.font-w600{:href => "javascript:void(0)", :target => "_blank"} OneUI
        \©
        %span.js-year-copy
    / END Copyright Info
