%header#header.page-topbar
  / start header nav
  .navbar-fixed
    %nav.cyan
      .nav-wrapper
        %ul.left
          %li
            %h1.logo-wrapper
              %a.brand-logo.darken-1{:href => "index.html"}
                %img{:alt => "materialize logo", :src => "images/materialize-logo.png"}/
              %span.logo-text Materialize
        .header-search-wrapper.hide-on-med-and-down
          %i.mdi-action-search.active
          %input.header-search-input.z-depth-2{:name => "Search", :placeholder => "Explore Materialize", :type => "text"}/
        %ul.right.hide-on-med-and-down
          %li
            %a.waves-effect.waves-block.waves-light.toggle-fullscreen{:href => "javascript:void(0);"}
              %i.mdi-action-settings-overscan
          %li
            %a.waves-effect.waves-block.waves-light{:href => "javascript:void(0);"}
              %i.mdi-navigation-apps
          %li
            %a.waves-effect.waves-block.waves-light{:href => "javascript:void(0);"}
              %i.mdi-social-notifications
          %li
            %a.waves-effect.waves-block.waves-light.chat-collapse{"data-activates" => "chat-out", :href => "#"}
              %i.mdi-communication-chat
  / end header nav