.block.block-rounded.block-bordered
  .block-header.bg-gray-lighter
    %h3.block-title
      = title
  .block-content.block-content-full.clearfix
    .text-right.pull-right.push-10-t
      .font-w600.push-5
        = user.full_name
      .text-muted
        Aesir
    .pull-left
      = image_tag user.profile.avatar.try(:url), class: "img-avatar"

