%aside#left-sidebar-nav
  %ul#slide-out.side-nav.fixed.leftside-navigation.ps-container.ps-active-y{:style => "left: 0px; height: 638px;"}
    %li.user-details.cyan.darken-2
      .row
        .col.col.s4.m4.l4
          = image_tag('feliphe.jpg', class: "circle responsive-img valign profile-image")

        .col.col.s8.m8.l8
          %a.btn-flat.dropdown-button.waves-effect.waves-light.white-text.profile-btn{"data-activates" => "profile-dropdown", :href => "#"}
            Feliphe Pozzer
            %i.mdi-navigation-arrow-drop-down.right
          %ul#profile-dropdown.dropdown-content
            %li
              %a{:href => "#"}
                %i.mdi-action-face-unlock
                Perfil
            %li
              %a{:href => "#"}
                %i.mdi-action-settings
                Settings
            %li
              %a{:href => "#"}
                %i.mdi-communication-live-help
                Help
            %li.divider
            %li
              %a{:href => "#"}
                %i.mdi-action-lock-outline
                Lock
            %li
              = link_to (content_tag(:i, "", class: "mdi-hardware-keyboard-tab") + 'Sair').html_safe, destroy_user_session_path, method: :delete
          %p.user-roal MeadMaker
    %li.bold.active
      %a.waves-effect.waves-cyan{:href => "index.html"}
        %i.mdi-action-dashboard
        Dashboard
    %li.bold
      %a.waves-effect.waves-cyan{:href => "app-email.html"}
        %i.mdi-communication-email
        Mailbox
        %span.new.badge 4
    %li.bold
      %a.waves-effect.waves-cyan{:href => "app-calendar.html"}
        %i.mdi-editor-insert-invitation
        Calender
    %li.no-padding
      %ul.collapsible.collapsible-accordion
        %li.bold
          %a.collapsible-header.waves-effect.waves-cyan
            %i.mdi-action-invert-colors
            CSS
          .collapsible-body{:style => ""}
            %ul
              %li
                %a{:href => "css-typography.html"} Typography
              %li
                %a{:href => "css-icons.html"} Icons
              %li
                %a{:href => "css-shadow.html"} Shadow
              %li
                %a{:href => "css-media.html"} Media
              %li
                %a{:href => "css-sass.html"} Sass
        %li.bold
          %a.collapsible-header.waves-effect.waves-cyan
            %i.mdi-image-palette
            UI Elements
          .collapsible-body{:style => ""}
            %ul
              %li
                %a{:href => "ui-buttons.html"} Buttons
              %li
                %a{:href => "ui-badges.html"} Badges
              %li
                %a{:href => "ui-cards.html"} Cards
              %li
                %a{:href => "ui-collections.html"} Collections
              %li
                %a{:href => "ui-accordions.html"} Accordian
              %li
                %a{:href => "ui-tabs.html"} Tabs
              %li
                %a{:href => "ui-navbar.html"} Navbar
              %li
                %a{:href => "ui-pagination.html"} Pagination
              %li
                %a{:href => "ui-preloader.html"} Preloader
              %li
                %a{:href => "ui-modals.html"} Modals
              %li
                %a{:href => "ui-media.html"} Media
              %li
                %a{:href => "ui-toasts.html"} Toasts
              %li
                %a{:href => "ui-tooltip.html"} Tooltip
        %li.bold
          %a.waves-effect.waves-cyan{:href => "app-widget.html"}
            %i.mdi-device-now-widgets
            Widgets
            %span.new.badge
        %li.bold
          %a.collapsible-header.waves-effect.waves-cyan
            %i.mdi-editor-border-all
            Tables
          .collapsible-body{:style => ""}
            %ul
              %li
                %a{:href => "table-basic.html"} Basic Tables
              %li
                %a{:href => "table-data.html"} Data Tables
        %li.bold
          %a.collapsible-header.waves-effect.waves-cyan
            %i.mdi-editor-insert-comment
            Forms
          .collapsible-body{:style => ""}
            %ul
              %li
                %a{:href => "form-elements.html"} Form Elements
              %li
                %a{:href => "form-layouts.html"} Form Layouts
        %li.bold
          %a.collapsible-header.waves-effect.waves-cyan
            %i.mdi-social-pages
            Pages
          .collapsible-body{:style => ""}
            %ul
              %li
                %a{:href => "page-contact.html"} Contact Page
              %li
                %a{:href => "page-todo.html"} ToDos
              %li
                %a{:href => "page-blog-1.html"} Blog Type 1
              %li
                %a{:href => "page-blog-2.html"} Blog Type 2
              %li
                %a{:href => "page-404.html"} 404
              %li
                %a{:href => "page-500.html"} 500
              %li
                %a{:href => "page-blank.html"} Blank
        %li.bold
          %a.collapsible-header.waves-effect.waves-cyan
            %i.mdi-action-shopping-cart
            eCommers
          .collapsible-body{:style => ""}
            %ul
              %li
                %a{:href => "eCommerce-products-page.html"} Products Page
              %li
                %a{:href => "eCommerce-pricing.html"} Pricing Table
              %li
                %a{:href => "eCommerce-invoice.html"} Invoice
        %li.bold
          %a.collapsible-header.waves-effect.waves-cyan
            %i.mdi-image-image
            Medias
          .collapsible-body{:style => ""}
            %ul
              %li
                %a{:href => "media-gallary-page.html"} Gallery Page
              %li
                %a{:href => "media-hover-effects.html"} Image Hover Effects
        %li.bold
          %a.collapsible-header.waves-effect.waves-cyan
            %i.mdi-action-account-circle
            User
          .collapsible-body{:style => ""}
            %ul
              %li
                %a{:href => "user-profile-page.html"} User Profile
              %li
                %a{:href => "user-login.html"} Login
              %li
                %a{:href => "user-register.html"} Register
              %li
                %a{:href => "user-forgot-password.html"} Forgot Password
              %li
                %a{:href => "user-lock-screen.html"} Lock Screen
              %li
                %a{:href => "user-session-timeout.html"} Session Timeout
        %li.bold
          %a.collapsible-header.waves-effect.waves-cyan
            %i.mdi-editor-insert-chart
            Charts
          .collapsible-body{:style => ""}
            %ul
              %li
                %a{:href => "charts-chartjs.html"} Chart JS
              %li
                %a{:href => "charts-chartist.html"} Chartist
              %li
                %a{:href => "charts-morris.html"} Morris Charts
              %li
                %a{:href => "charts-xcharts.html"} xCharts
              %li
                %a{:href => "charts-flotcharts.html"} Flot Charts
              %li
                %a{:href => "charts-sparklines.html"} Sparkline Charts
    %li.li-hover
      .divider
    %li.li-hover
      %p.ultra-small.margin.more-text MORE
    %li
      %a{:href => "css-grid.html"}
        %i.mdi-image-grid-on
        Grid
    %li
      %a{:href => "css-color.html"}
        %i.mdi-editor-format-color-fill
        Color
    %li
      %a{:href => "css-helpers.html"}
        %i.mdi-communication-live-help
        Helpers
    %li
      %a{:href => "changelogs.html"}
        %i.mdi-action-swap-vert-circle
        Changelogs
    %li.li-hover
      .divider
    %li.li-hover
      %p.ultra-small.margin.more-text Daily Sales
    %li.li-hover
      .row
        .col.s12.m12.l12
          .sample-chart-wrapper
            #ct2-chart.ct-chart.ct-golden-section
              %svg.ct-chart-line{:height => "100%", :style => "width: 100%; height: 100%;", :width => "100%", "xmlns:ct" => "http://gionkunz.github.com/chartist-js/ct"}
                %g.ct-labels
                  %foreignobject{:height => "30", :style => "overflow: visible;", :width => "21", :x => "45", :y => "104"}
                    %span.ct-label.ct-horizontal{:xmlns => "http://www.w3.org/1999/xhtml"} 1
                  %foreignobject{:height => "30", :style => "overflow: visible;", :width => "21", :x => "66", :y => "104"}
                    %span.ct-label.ct-horizontal{:xmlns => "http://www.w3.org/1999/xhtml"} 2
                  %foreignobject{:height => "30", :style => "overflow: visible;", :width => "21", :x => "87", :y => "104"}
                    %span.ct-label.ct-horizontal{:xmlns => "http://www.w3.org/1999/xhtml"} 3
                  %foreignobject{:height => "30", :style => "overflow: visible;", :width => "21", :x => "108", :y => "104"}
                    %span.ct-label.ct-horizontal{:xmlns => "http://www.w3.org/1999/xhtml"} 4
                  %foreignobject{:height => "30", :style => "overflow: visible;", :width => "21", :x => "129", :y => "104"}
                    %span.ct-label.ct-horizontal{:xmlns => "http://www.w3.org/1999/xhtml"} 5
                  %foreignobject{:height => "30", :style => "overflow: visible;", :width => "21", :x => "150", :y => "104"}
                    %span.ct-label.ct-horizontal{:xmlns => "http://www.w3.org/1999/xhtml"} 6
                  %foreignobject{:height => "30", :style => "overflow: visible;", :width => "21", :x => "171", :y => "104"}
                    %span.ct-label.ct-horizontal{:xmlns => "http://www.w3.org/1999/xhtml"} 7
                  %foreignobject{:height => "30", :style => "overflow: visible;", :width => "21", :x => "192", :y => "104"}
                    %span.ct-label.ct-horizontal{:xmlns => "http://www.w3.org/1999/xhtml"} 8
                  %foreignobject{:height => "20.88888888888889", :style => "overflow: visible;", :width => "40", :x => "-5", :y => "84"}
                    %span.ct-label.ct-vertical{:xmlns => "http://www.w3.org/1999/xhtml"} 0
                  %foreignobject{:height => "20.88888888888889", :style => "overflow: visible;", :width => "40", :x => "-5", :y => "66.9090909090909"}
                    %span.ct-label.ct-vertical{:xmlns => "http://www.w3.org/1999/xhtml"} 2
                  %foreignobject{:height => "20.88888888888889", :style => "overflow: visible;", :width => "40", :x => "-5", :y => "49.81818181818181"}
                    %span.ct-label.ct-vertical{:xmlns => "http://www.w3.org/1999/xhtml"} 4
                  %foreignobject{:height => "20.88888888888889", :style => "overflow: visible;", :width => "40", :x => "-5", :y => "32.72727272727273"}
                    %span.ct-label.ct-vertical{:xmlns => "http://www.w3.org/1999/xhtml"} 6
                  %foreignobject{:height => "20.88888888888889", :style => "overflow: visible;", :width => "40", :x => "-5", :y => "15.63636363636364"}
                    %span.ct-label.ct-vertical{:xmlns => "http://www.w3.org/1999/xhtml"} 8
                %g.ct-grids
                  %line.ct-grid.ct-horizontal{:x1 => "45", :x2 => "45", :y1 => "5", :y2 => "99"}
                  %line.ct-grid.ct-horizontal{:x1 => "66", :x2 => "66", :y1 => "5", :y2 => "99"}
                  %line.ct-grid.ct-horizontal{:x1 => "87", :x2 => "87", :y1 => "5", :y2 => "99"}
                  %line.ct-grid.ct-horizontal{:x1 => "108", :x2 => "108", :y1 => "5", :y2 => "99"}
                  %line.ct-grid.ct-horizontal{:x1 => "129", :x2 => "129", :y1 => "5", :y2 => "99"}
                  %line.ct-grid.ct-horizontal{:x1 => "150", :x2 => "150", :y1 => "5", :y2 => "99"}
                  %line.ct-grid.ct-horizontal{:x1 => "171", :x2 => "171", :y1 => "5", :y2 => "99"}
                  %line.ct-grid.ct-horizontal{:x1 => "192", :x2 => "192", :y1 => "5", :y2 => "99"}
                  %line.ct-grid.ct-vertical{:x1 => "45", :x2 => "213", :y1 => "99", :y2 => "99"}
                  %line.ct-grid.ct-vertical{:x1 => "45", :x2 => "213", :y1 => "81.9090909090909", :y2 => "81.9090909090909"}
                  %line.ct-grid.ct-vertical{:x1 => "45", :x2 => "213", :y1 => "64.81818181818181", :y2 => "64.81818181818181"}
                  %line.ct-grid.ct-vertical{:x1 => "45", :x2 => "213", :y1 => "47.72727272727273", :y2 => "47.72727272727273"}
                  %line.ct-grid.ct-vertical{:x1 => "45", :x2 => "213", :y1 => "30.63636363636364", :y2 => "30.63636363636364"}
                %g.ct-series.ct-series-a
                  %path.ct-area{:d => "M45,99L45,56.273C48.5,50.576,59,24.939,66,22.091C73,19.242,80,37.758,87,39.182C94,40.606,101,27.788,108,30.636C115,33.485,122,49.152,129,56.273C136,63.394,143,73.364,150,73.364C157,73.364,164,57.697,171,56.273C178,54.848,188.5,63.394,192,64.818L192,99", :values => "5,9,7,8,5,3,5,4"}
                  %path.ct-line{:d => "M45,56.273C48.5,50.576,59,24.939,66,22.091C73,19.242,80,37.758,87,39.182C94,40.606,101,27.788,108,30.636C115,33.485,122,49.152,129,56.273C136,63.394,143,73.364,150,73.364C157,73.364,164,57.697,171,56.273C178,54.848,188.5,63.394,192,64.818", :values => "5,9,7,8,5,3,5,4"}
                  %line.ct-point{:value => "5", :x1 => "45", :x2 => "45.01", :y1 => "56.27272727272727", :y2 => "56.27272727272727"}
                  %line.ct-point{:value => "9", :x1 => "66", :x2 => "66.01", :y1 => "22.090909090909093", :y2 => "22.090909090909093"}
                  %line.ct-point{:value => "7", :x1 => "87", :x2 => "87.01", :y1 => "39.18181818181818", :y2 => "39.18181818181818"}
                  %line.ct-point{:value => "8", :x1 => "108", :x2 => "108.01", :y1 => "30.63636363636364", :y2 => "30.63636363636364"}
                  %line.ct-point{:value => "5", :x1 => "129", :x2 => "129.01", :y1 => "56.27272727272727", :y2 => "56.27272727272727"}
                  %line.ct-point{:value => "3", :x1 => "150", :x2 => "150.01", :y1 => "73.36363636363636", :y2 => "73.36363636363636"}
                  %line.ct-point{:value => "5", :x1 => "171", :x2 => "171.01", :y1 => "56.27272727272727", :y2 => "56.27272727272727"}
                  %line.ct-point{:value => "4", :x1 => "192", :x2 => "192.01", :y1 => "64.81818181818181", :y2 => "64.81818181818181"}
    .ps-scrollbar-x-rail{:style => "left: 0px; bottom: 3px;"}
      .ps-scrollbar-x{:style => "left: 0px; width: 0px;"}
    .ps-scrollbar-y-rail{:style => "top: 0px; height: 578px; right: 3px;"}
      .ps-scrollbar-y{:style => "top: 0px; height: 285px;"}
  %a.sidebar-collapse.btn-floating.btn-medium.waves-effect.waves-light.hide-on-large-only.cyan{"data-activates" => "slide-out", :href => "#"}
    %i.mdi-navigation-menu
