%nav
  .nav-wrapper
    =link_to("Logo", root_path, class: "brand-logo")
    %a.button-collapse{"data-activates" => "mobile-demo", :href => "#"}
      %i.material-icons menu
    %ul.right.hide-on-med-and-down
      %li
        %a{:href => "sass.html"} Sass
      %li
        %a{:href => "badges.html"} Components
      %li
        %a{:href => "collapsible.html"} Javascript
      %li
        %a{:href => "mobile.html"} Mobile
      %li
        =link_to("Fazer Login", new_user_session_path)
    %ul#mobile-demo.side-nav
      %li
        %a{:href => "sass.html"} Sass
      %li
        %a{:href => "badges.html"} Components
      %li
        %a{:href => "collapsible.html"} Javascript
      %li
        %a{:href => "mobile.html"} Mobile
      %li
        =link_to("Fazer Login", new_user_session_path)
        