%nav.white{:role => "navigation"}
  .nav-wrapper.container
    %a#logo-container.brand-logo{:href => "#"} Logo
    %ul.right.hide-on-med-and-down
      %li
        %a{:href => "#"} Navbar Link
    %ul#nav-mobile.side-nav
      %li
        %a{:href => "#"} Navbar Link
    %a.button-collapse{"data-activates" => "nav-mobile", :href => "#"}
      %i.material-icons menu