.row.push-10
  .row
    = link_to_with_icon(["","fa fa-chevron-up"], path+"?type=up", method: "post", class: "best-answer-icon-size")
.row
  %label.best-answer-icon-size= count
.row.push-10
  .row
    = link_to_with_icon(["","fa fa-chevron-down"], path+"?type=down", method: "post", class: "best-answer-icon-size")
