.row.push-10
  .row
    = link_to_with_icon(["","fa fa-chevron-up"], path+"?type=up", method: "post", class: "icons-size")
.row
  %label.icons-size= count
.row.push-10
  .row
    = link_to_with_icon(["","fa fa-chevron-down"], path+"?type=down", method: "post", class: "icons-size")
