%footer#page-footer.content-mini.content-mini-full.font-s12.bg-gray-lighter.clearfix
  .pull-right
    Desenvolvido com
    %i.fa.fa-heart.text-city
    por
    %a.font-w600{:href => "https://www.facebook.com/feliphe.pozzer", :target => "_blank"} Feliphe Pozzer
  .pull-left
    %a.font-w600{:href => "javascript:void(0)", :target => "_blank"} Mead 1.0 Beta
    \©
    %span.js-year-copy
