/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 
 *= require js/plugins/fileinput/jasny-bootstrap.min.css
 *= require js/plugins/select2/select2.min.css
 *= require oneui
 *= require chat
 *= require themes/city
 *= require themes/modern
 *= require_tree .
 *= require_self
 *= stub active_admin
 *= require js/plugins/summernote/summernote.min.css
 */

.row_item {
  margin-bottom: 10px;
}

.best-answer-icon-size{
  font-size: 35px;
}

.icons-size{
  font-size: 25px;
}

.best-answer-icon-color {
  color: #46C37B;
}

.star_active{
  color: #F3B760
}

.list_answer{
  padding-left: 13px !important;
}

abbr[title] {
	border-bottom: none !important;
}

.not-active {
  pointer-events: none;
}
.border-text{
	text-shadow: -1px 0 gray, 0 1px gray, 1px 0 gray, 0 -1px gray;
}
.count-label {
    position: absolute !important;
    bottom: 18px !important;
    top: 30px !important;
    right: 31px !important;
    text-align: center;
    font-size: 10px;
    padding: 2px 3px;
    line-height: .9;
    background-color: red !important;

}