%p
  Olá #{@resource.email}!
%p Alguém solicitou um link para alterar sua senha. Você pode fazer isso através do link abaixo.
%p= link_to 'Alterar minha senha', edit_password_url(@resource, reset_password_token: @token)
%p Se você não solicitou o pedido de alteração de senha, por favor ignore este e-mail.
%p Sua senha não vai mudar até que você acessar o link acima e criar uma nova.
