.col-sm-6.col-md-3
  .block.block-link-hover3.text-center
    .block-content.block-content-full
      %span.item.item-circle{class: bg_color}
        %i{class: "#{icon} #{text_color}" }
    .block-content.block-content-full.block-content-mini.bg-gray-lighter.font-w600{class: text_color}= status

/.col-sm-6.col-md-3
/    .block.block-link-hover3.text-center
/      .block-content.block-content-full
/        %span.item.item-circle.bg-success-light
/          %i.fa.fa-check.text-success
/      .block-content.block-content-full.block-content-mini.bg-gray-lighter.text-success.font-w600 Iniciada
/  .col-sm-6.col-md-3
/    .block.block-link-hover3.text-center
/      .block-content.block-content-full
/        %span.item.item-circle.bg-success-light
/          %i.fa.fa-check.text-success
/      .block-content.block-content-full.block-content-mini.bg-gray-lighter.text-success.font-w600 Aceita
/  .col-sm-6.col-md-3
/    .block.block-link-hover3.text-center
/      .block-content.block-content-full
/        %span.item.item-circle.bg-warning-light
/          %i.si.si-settings.fa-spin.text-warning
/      .block-content.block-content-full.block-content-mini.bg-gray-lighter.text-warning.font-w600 Em negociação
/  .col-sm-6.col-md-3
/    .block.block-link-hover3.text-center
/      .block-content.block-content-full
/        %span.item.item-circle.bg-gray-lighter
/          %i.fa.fa-times.text-muted
/      .block-content.block-content-full.block-content-mini.bg-gray-lighter.text-muted.font-w600 Finalizada
