.content
  .block
    %ul.nav.nav-tabs.nav-tabs-alt{"data-toggle" => "tabs"}
      %li.active
        %a{:href => "#trades-progress"} Em Andamento
      %li
        %a{:href => "#trades-finalized"} Finalizadas
      %li
        %a{:href => "#trades-canceled"} Canceladas
    .block-content.tab-content.bg-white
      #trades-progress.tab-pane.fade.fade-up.active.in
        .border-b.push-30
          = render partial: "block_trade", locals: {id: "trades_in_progress", entry_name: "Trocas em andamento" ,trades: @trades_in_progress }
      #trades-finalized.tab-pane.fade.fade-up
        .border-b.push-30
          = render partial: "block_trade", locals: {id: "trades_finalized", entry_name: "Trocas finalizadas" ,trades: @trades_finalized }
      #trades-canceled.tab-pane.fade.fade-up
        .border-b.push-30
          = render partial: "block_trade", locals: {id: "trades_canceled", entry_name: "Trocas canceladas" ,trades: @trades_canceled }