= javascript_include_tag 'application', 'data-turbolinks-track' => true
/
  Page JS Code
:javascript
  $(function () {
      // Init page helpers (Slick Slider plugin)
      App.initHelpers('slick');
      App.initHelpers('easy-pie-chart');
  });
