%li
  .list-timeline-time= get_time_ago(activity.created_at)
  %i.list-timeline-icon.bg-success{class: activity.parameters[:type] == "up" ? "fa fa-plus" : "fa fa-minus" }
  .list-timeline-content
    %p
      %b= link_to activity.owner.full_name, profile_path(activity.owner.profile)
      avaliou uma
      %b= link_to "pergunta", question_path(activity.trackable)
      = activity.parameters[:type] == "up" ? "possitivamente." : "negativamente."


